@import "./theme.css";

/* alla viktiga element och klasser/namn
sätta flex, margin, padding
allting som rör hela projektet som typsnitt och VH och VW. */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  width: 100vw;
  height: 100vh;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  display: flex; /* är en flexförälder */
  flex-flow: column nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
}

body > *{ /* Prevents children from overflowing (effectively making it a no scroll page) */
  flex:1 1 100%;
}

main{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  flex: 1 1 auto;
  min-width: 100%;
  order: 2;
}

header{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: space-between;
  flex: 0 0 auto;
  min-width: 100%;
  order: 1;
}

footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: space-between;
  flex: 0 0 auto;
  min-width: 100%;
  order: 3;
}

nav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  flex: 1 1 100%;
}

#logo{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex: 1 1 100%;
}

#contact-information-panel{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  flex: 1 1 auto;
}

#social-media-icons{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  flex: 1 1 auto;
}

#hero-carousel{
  display: flex;
  flex-flow: row wrap;
  justify-content: center ;
  align-content: stretch;
  align-items: baseline ;
  flex:1 1 auto;
}

#hero-slider{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: stretch; /* row nowrap makes this useless */
  align-items: center; /* using stretch makes button fill top to bottom */
  flex: 1 1 100%;
}

.cta-text{
  flex: 1 1 100%;
  background: black;
  color: yellow;
}

.scrollButton{
  flex: 1 1 auto;
}

.slide {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center ;
  align-content: stretch;
  align-items: baseline ;
  flex: 1 1 auto;
}

#hero-img{
  flex: 1 1 auto;
}

#slide-text{
  flex: 1 1 auto;
}

#product-grid-area{
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#filtering-and-sorting-bar{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 1 1 auto;
  border-radius: 10vw;
}

.dropdownUl{
  outline: 2px solid black;
  opacity: 0.5;
  z-index: 2;
}

.dropdownLi{
  outline: 1px solid black;
}

.filter-text{

}

.filterSelect{

}

.filterButton{

}

.filter-slide{

}

#product-detail-modal{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  flex: 1 1 auto;
  position: absolute;
  z-index: 255;
}

#product-facts-panel{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 50%;
  border: 2px solid black;
}

#product-display-panel{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 50%;
}

#product-grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 auto;
}

.appMessage{

}

.productCard{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 auto;
  max-width: 33%;
}

#cart-modal{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 auto;
  opacity: 0.8;
  border: 1px solid var(--panelBorder);
}

.cartCounter{
  border-radius: 25%;
  z-index: 2;
}

#cart-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 auto;
}

.cartItem{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 auto;
}

.productImage{

}

#checkout{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 auto;
}

#customer-details{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 50%;
}

#payment-form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 50%;
}

#response-text{

}

#update-order{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 auto;
}

#order-modal{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 auto;
}

#confirmation-modal{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 auto;  
}

#order-list{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 auto;
}

#order-item{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 100%;
}

#order-item-text{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  flex: 1 1 100%;
}

#policies-modal{
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.policyPanel{
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
