@import "./theme.css";

/* alla viktiga element och klasser/namn
sätta flex, margin, padding
allting som rör hela projektet som typsnitt och VH och VW. */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  width: 100vw;
  height: 100vh;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  display: flex; /* är en flexförälder */
  flex-flow: column nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
}

/* order och flex på barnen */
#root-div{
  display: flex;
  flex: 0 0 100%; /*får inte växa/får inte förminskas/är 100% bred i verkligheten */
  flex-flow: column nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
}

.container-article{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  flex: 3 0 100%;
  order: 2;
}

/* Header*/
header{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: space-between;
  flex: 1 1 100%; 
  order: 1;
  background-color: blue;
}
/* Logo */
#logo{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex: 1 0 100%;
}
/* Navbar*/
nav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-around; /* "Padding"*/
  flex: 1 0 100%;
}
.li-nav{
  cursor: pointer;
}

/* Footer*/
footer{
  /* parent-inställningar */
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: space-between;
  /* child-inställningar */
  flex: 1 1 100%; 
  order: 3;
}

/* Hero*/
#hero-div{
  display: flex;
  flex-flow: row wrap;
  justify-content: center ;
  align-content: stretch;
  align-items: baseline ;
  /* order: 2; */
  flex:1 1 auto;
}
#hero-slider{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; /* space between? */
  align-content: stretch;
  align-items: baseline ;
  flex: 3 1 100%;
  /* order: 1; */
}
.arrows{
  flex: 1 1 auto;
  max-width: 5%;
}

.slide {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center ;
  align-content: stretch;
  align-items: baseline ;
  flex: 1 1 auto;
  /* order: 2; */
}
#CTA-text{
  flex: 1 1 100%;
}
#hero-img{
  flex: 1 1 auto;
}
#slide-text{
  flex: 1 1 auto;
}

/* Products */
    /* only contains other components */

/* FilteringAndSortingBar*/
#filtering-and-sorting-bar-section {
  display: flex;
  flex: 1 1 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0.5vmax;
  background-color: var(--dark-blue);
  margin-bottom: 0.5vmax;
}


/*-------------------------------------*/