@import url('./index.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --fluid_font-size: calc(12, max(20, min(16, 1080-720)) / 100);
    --fluid_line-height: calc(1.5 * var(--fluid_font-size));

    --base: #669BBC; /**/
    --complementary: #BC8A66;/*highlighting and accent*/
    --lightershade: #8FB5D8;/*background and emphasis*/
    --darkershade: #3A6989;/*text and borders*/
    --accent1: #66BC98;/*buttons/cta*/
    --accent2: #BC6677;/**/
    --neutral: #E8E8E8;/*backgrounds, borders, visuals*/

    --buttonBackground: var(--accent1);
    --buttonBackgroundHover: var(--accent1);
    --buttonText: var(--darkershade);
    --buttonBorder: var(--neutral);
    --buttonBorderHover: var(--complementary);
    --basePanel: var(--base);
    --baseColor: var(--neutral);
    --basePanelComplement: var(--darkershade);
    --socialMediaBackground: var(--accent2);
    --navbarBackground: var(--accent1);
    --policyPanel: var(--darkershade);
    --panelBorder: var(--accent1);
    --modalBackground: var(--complementary)
  }

  body{
    font-size: var(--fluid_font-size);
    line-height: var(--fluid_line-height);
    background: var(--basePanel);
    color: var(--baseColor);
  }
  
  header{
    background-color: var(--basePanelComplement);
  }
  
  footer{
    background-color: var(--basePanelComplement);
  }
  
  nav{
    background-color: var(--navbarBackground);
  }
  
  button{
    background: var(--buttonBackground);
    color: var(--buttonText);
    border: 1px solid var(--buttonBorder);
    cursor: pointer;
  }

  button:hover{
    background: var(buttonBackgroundHover);
    border: 1px solid var(--buttonBorderHover);
  }

  input{
    cursor: pointer;
  }
  .appButton{
  }

  .appButton:hover{
  }
  
  #logo{
  }
  
  #contact-information-panel{
  }
  
  #social-media-icons{
    background-color: var(--socialMediaBackground);
  }
  
  #hero-carousel{
  }
  
  #hero-slider{
  }
  
  .cta-text{
  }
  
  .scrollButton{
  }
  
  .slide {
  }
  
  #hero-img{
  }
  
  #slide-text{
  }
  
  #product-grid-area{
  }
  
  #filtering-and-sorting-bar{
    background-color: var(--basePanelComplement);

  }
  
  .dropdownUl{
  }
  
  .dropdownLi{
    text-decoration: none;
  }
  
  .filter-text{
  
  }
  
  .filterSelect{
  
  }
  
  .filterButton{
  
  }
  
  .filter-slide{
  
  }
  
  #product-detail-modal{
    background-color: var(--modalBackground);
  }
  
  #product-facts-panel{
  }
  
  #product-display-panel{
  }
  
  #product-grid{
  }
  
  .appMessage{
  
  }
  
  .productCard{
    background-color: var(--darkershade);
    cursor: pointer;
  }

  .productCard:hover{
    background-color: var(--lightershade);
  }
  
  #cart-modal{
    background-color: var(--modalBackground);
  }

  .cartCounter{
    background-color: var(--accent2);
  }

  #cart-list{
  }
  
  .cartItem{
  }
  
  .productImage{
  
  }
  
  #checkout{
  }
  
  #customer-details{
  }
  
  #payment-form{
  }
  
  #response-text{
  
  }

  #confirmation-modal{
    background-color: var(--modalBackground);
  }
  
  #update-order{
  }
  
  #order-modal{
    background-color: var(--modalBackground);
  }

  #order-list{
  }
  
  #order-item{
  }
  
  #order-item-text{
  }
  
  #policies-modal{
    background-color: var(--modalBackground);
  }
  
  .policyPanel{
    background-color: var(--policyPanel);
    border: 1px solid var(--panelBorder);
    border-radius: 1vmax;
  }
  